<div class="individual"> 
        <img src="https://spoonacular.com/cdn/ingredients_250x250/{{{Image_ingrediant}}}" alt="Image de {{{Title_ingrediant}}}">
        <div>
                <p class="name">{{{Title_ingrediant}}}</p>
                <p class="quantity">{{{Mesure_ingrediant}}} {{{Unity_ingrediant}}}</p>
        </div>
</div>

