<h2>Wanna some data info ?</h2>
        <ul>
                <li>{{{Likes}}} Likes</li>
                <li>{{{spoonacularScore}}} Spoonacular score</li>
                <li>{{{healthScore}}} health score</li>
                <li>{{{weightWatcher}}} weight watcher smart points</li>
                <li>{{{price}}} $ per serving</li>
        </ul>

