<li> 
    <a href="./individual.html?id={{{recipeId}}}">
    {{!-- <img src="{{{recipeContent}}}" alt=""> --}}
    <p class="recipe_User js-recipe_User">{{{recipeTitle}}}</p>
    <img src="{{{recipeImage}}}" alt="image de {{{recipeTitle}}}">
    </a>
</li>